section.book-section
  .section__container
    .section__content
      .section__header
        h2.section__title Book Table 
        h1 Opening Hours
        .icon.icon--small: img(src='./assets/callNow.png')
      div
        div Call now
        div.book-section__title +5678 567 45
      .book-section__schedule
        div
          p Monday to Tuesday
          span.book-section__title 09:00am - 22:00 pm
        div
          p Friday to Sunday
          span.book-section__title 09:00am - 22:00 pm
      +swiper
