header.header
  nav.navbar
    ul
      li
        a Home
      li
        a About Us
      li
        a Menu
      li
        a Blog
      li
        a Location
      li
        i(class="material-icons") shopping_cart
      li 
        i(class="material-icons") search
