section.main-section 
  .section__container
    .section__content.section__content--right
      .section__header
        h1 Welcome To Our Restaurant
      +searchBox
      .stats-label
        div
          span f &nbsp
          span 245
        div
          span tw &nbsp
          span 567
        div
          span in &nbsp
          span 56k
