section.main-section 
  .section__container
    .section__content.section__content--right
      .section__header
        h1 Welcome To Our Restaurant
      +searchBox
      .stats-label
        div
          span: img(src='./assets/facebook.png')
          span &nbsp 245k
        div
          span: img(src='./assets/twitter.png') 
          span &nbsp 567k
        div
          span: img(src='./assets/instagram.png') 
          span  &nbsp 56k
