section.order-section
  .section__container
    .section__content
      .section__header
        h2.section__title Order online now
        h1 Our Specialicity Cousine
      nav.order-section__nav
        ul
          li 
            a Breakfast
          li 
            a Launch
          li 
            a Dinner
          li 
            a Dessert
          li 
            a Shake
      
    .catalog
      +product('$14.99', 5, 'Contadina', 'dish1.jpg') 
      +product('$14.99', 5, 'Contadina') 
      +product('$14.99', 5, 'Contadina') 
      +product('$14.99', 5, 'Contadina') 
      +product('$14.99', 5, 'Contadina') 
      +product('$14.99', 5, 'Contadina') 
      +product('$14.99', 5, 'Contadina') 
      +product('$14.99', 5, 'Contadina') 
 
          
