section.order-section
  .section__container
    .section__content
      .section__header
        h2.section__title Order online now
        h1 Our Specialicity Cousine
      nav.order-section__nav#catalogNavigation
        ul
          li 
            a Breakfast
          li 
            a Launch
          li 
            a Dinner
          li 
            a Dessert
          li 
            a Shake
    .catalog 
      .catalog__container#catalog 
        +product('$16.99', 5, 'Pozole', 'dish1.jpg') 
        +product('$14.99', 5, 'Menudo', 'dish2.jpg') 
        +product('$34.00', 5, 'Frijoles', 'dish3.jpeg') 
        +product('$18.99', 5, 'Asado', 'dish5.jpg') 
        +product('$14.99', 5, 'Tamales', 'dish6.jpg') 
        +product('$56.99', 5, 'Estofado', 'dish7.jpg') 
        +product('$21.99', 5, 'Barbacoa', 'dish1.jpg') 
        +product('$12.99', 5, 'Birria', 'dish9.jpg')
      
          
