section.testimonial-section
  .section__container
    .section__content
      .section__header
        h2.section__title Testimonial
        h1 Costumer Say
      .slider
        .slider__control.slider__control--left.testimonialSlider__control
          img(src='./assets/chevron-left.png')
        .slider__control.slider__control--right.testimonialSlider__control
          img(src='./assets/chevron-right.png')
        .slider__container
          .slider__content#testimonialSlider
            +testimonialContent
            +testimonialContent
            +testimonialContent

    
