h1 {
  font-size: 50px;
}
h2 {
  font-size: 18px;
}
ul {
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
.section__title {
  color: #ffa500;
  text-transform: uppercase;
}
.section__container {
  padding-top: 60px;
  max-width: 1200px;
  margin: 0 auto;
}
.section__content {
  display: grid;
  grid-row-gap: 30px;
  max-width: 600px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}
.section__content--right {
  text-align: left;
  margin-right: 50%;
}
.section__content--left {
  text-align: left;
  margin-left: 50%;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  background-color: #ff7f50;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.button--submit {
  height: 100%;
  max-height: 100px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.button--download {
  position: relative;
  height: 40px;
  padding-right: 2em;
}
.button--download::after {
  position: absolute;
  top: 0;
  bottom: 10px 0 10px;
  right: 0;
  display: block;
  width: 2em;
  height: 100%;
  line-height: 38px;
  text-align: center;
  content: '>';
  background-color: #ffa500;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.searchBox {
  display: flex;
  width: 100%;
  height: 40px;
}
.searchBox__icon {
  background-color: #fff;
  padding-left: 10px;
  line-height: 3em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.searchBox input {
  width: -webkit-fill-available;
  width: fill-available;
  padding: 5px;
  border: none;
  outline: none;
}
.stats-label {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.stats-label img {
  width: 1.5em;
}
.product {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 300px;
}
.product:hover .product__overlay {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}
.product__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  cursor: pointer;
}
.product__price {
  display: block;
  font-size: 32px;
  font-family: serif;
  font-weight: bold;
  color: #fff;
}
.product__rating {
  display: block;
  font-size: 32px;
  font-family: serif;
  font-weight: bold;
  color: #ff0;
}
.product__name {
  display: block;
  margin-bottom: 1em;
  font-size: 32px;
  font-family: sans-serif;
  color: #fff;
}
.icon {
  margin: 0 auto;
}
.icon img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.icon--big {
  width: 200px;
  height: 200px;
}
.icon--small {
  width: 100px;
  height: 100px;
}
.header {
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar ul {
  display: flex;
  width: 60%;
  padding: 0;
  margin-left: 40%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.main-section {
  height: 100vh;
  max-height: 800px;
  background-image: url("../assets/mainSection.png");
  background-size: cover;
  background-color: #808080;
  border: 1px solid transparent;
}
.about-us-section {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #eaeaff 0%, #fff 100%);
  background-image: url("../assets/aboutSection.jpg");
  background-size: cover;
}
.order-section {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #eaeaff 0%, #fff 100%);
}
.order-section__nav ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c5c5c5;
}
.order-section__nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-section__nav a {
  padding: 10px;
  cursor: pointer;
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
}
.book-section {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #eaeaff 0%, #fff 100%);
  background-color: #ff0;
}
.book-section__schedule {
  display: flex;
  justify-content: space-between;
}
.book-section__title {
  font-size: 32px;
  font-family: serif;
  font-weight: bold;
}
.book-section__dish img {
  width: 100%;
  object-fit: cover;
}
.catalog {
  overflow: hidden;
  display: -webkit-box;
  width: -webkit-max-content;
  width: max-content;
}
.catalog__wrapper {
  overflow: hidden;
}
.catalog__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 100px;
  transition: 1s;
}
.testimonial-section {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #eaeaff 0%, #fff 100%);
}
.testimonial-slider {
  display: grid;
  place-items: center;
}
.testimonial-slider__title {
  font-size: 32px;
  font-family: sans-serif;
}
.testimonial-slider__subtitle {
  font-size: 18px;
  color: #808080;
  margin-bottom: 1em;
}
.testimonial-slider__rating {
  font-size: 32px;
  font-family: serif;
  font-weight: bold;
  color: #ff0;
}
.slider {
  position: relative;
  width: 100%;
}
.slider img {
  width: 100%;
  height: 100%;
}
.slider__container {
  overflow: hidden;
}
.slider__content {
  transition: 1s;
  display: -webkit-box;
}
.slider__control {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  opacity: 0.4;
  z-index: 1;
}
.slider__control--right {
  right: -100px;
}
.slider__control--left {
  left: -100px;
}
