include pug/_mixins.pug
doctype html
html 
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' type='text/css' href='css/normalize.css')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
      
  body
    include pug/_Header.pug
    include pug/_MainSection.pug
    include pug/_AboutUs.pug
    include pug/_OrderSection.pug
    include pug/_BookSection.pug
    include pug/_TestimonialSection.pug
    script(src='./js/index.js')
